<html>
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/transactions">Transfers</a></li>

            </ul>
        </div>
    </nav>
</div>

<body>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <div class="container">
        <br>
        <h3>Our Valuable Customers</h3>
        <table class="table table-bordered text-center table-striped table-light " id="tble">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Balance(₹)</th>
                    <th scope="col">Transfer</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.balance }}</td>
                    <td>
                        <a href="{% url 'transfer' cust_id=customer.id %}">
                            <button type="submit" class="btn transfer">Transfer</button></td>
                    </a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>