<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/transactions">Transfers</a></li>
                <li> <a class="waves-effect waves-light btn-large">Get started</a> </li>
            </ul>
        </div>
    </nav>
</div>

<body>

    <div class="row">
        <div class="col l6">
            <h1>Online <br> Banking</h1>
            Why do we use it?
            <br>
            <br>
            <hr class="my-2">
            <br>
            <p> A simple banking app to view the list of customers and transfer money from one customer to the other
            </p>
            <a class="waves-effect waves-light btn-large">Get started</a>
        </div>
        <div class="col l6">
            <div class="card">
                <img class="responsive-img" src="https://media.istockphoto.com/vectors/online-payment-concept-laptop-with-electronic-invoice-vector-id1133420240?k=6&m=1133420240&s=612x612&w=0&h=84dHRtgFTrIBMzx57kgny_JxO7s7K4RniZu1LcdT2FA=" />
            </div>
        </div>
    </div>

</body>

</html>