<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/transactions">Transfers</a></li>

            </ul>
        </div>
    </nav>
</div>

<body>

    <div class="row">
        <div class="col l6">
            <div class="container">
                <h1>GRIP <br> Online Banking</h1>
                <hr class="my-2">
                <br>
                <p> A simple banking app to view the list of customers and transfer money from one customer to the other
                </p>
                <a class="waves-effect waves-light btn-large">Get started</a>
            </div>
        </div>
        <div class="col l6">
            <div class="card">
                <img class="responsive-img" src="https://media.istockphoto.com/vectors/online-payment-concept-laptop-with-electronic-invoice-vector-id1133420240?k=6&m=1133420240&s=612x612&w=0&h=84dHRtgFTrIBMzx57kgny_JxO7s7K4RniZu1LcdT2FA=" />
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Technologies Used</h1>
        <div class="card-group">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Django</h5>
                    <hr class="my-4">
                    <p class="card-text">Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing
                        your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support</p>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <hr class="my-4">
                    <p class="card-text">Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful
                        plugins built on jQuery.</p>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">MySQL</h5>
                    <hr class="my-4">
                    <p class="card-text">MySQL is a database management system that allows you to manage relational databases. It is open source software backed by Oracle. It means you can use MySQL without paying a dime. Also, if you want, you can change its source code
                        to suit your needs. Even though MySQL is open source software, you can buy a commercial license version from Oracle to get premium support services If you develop websites or web applications, MySQL is a good choice. MySQL is an
                        essential component of the LAMP stack, which includes Linux, Apache, MySQL, and PHP.</p>
                </div>
            </div>
        </div>
    </div>


</body>

</html>